* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #353a3f;
}

/* regome per header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: red;
    background-color: black;
}

.headerTitle {
    margin-left: 30px;
}

.headerSearch {
    margin-right: 30px;
}

.headerSearch input {
    padding: 10px;
    border-radius: 15px;

}

.headerSearch button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;

}

/* regole main */

main {

    color: white;

}

.titoloRicerca {
    padding: 30px;
}

.titolo {
    text-align: center;
    margin-top: 300px;
}

main .cardSection {
    display: flex;
    flex-wrap: wrap;


}

.cardSection .card {
    border: 2px solid white;
    position: relative;
    cursor: pointer;
    background-color: black;
    margin: 20px;
    width: 300px;
    height: 450px;

}

.card-content h3 {
    padding: 10px;
}

.card-content h4 {
    padding: 10px;
}

.card-content span {
    padding: 10px;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-image img {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.card-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    padding: 10px;
    transition: opacity 0.5s ease;
    overflow: scroll;
    /* hidden scrollbar IE and Edge */
    -ms-overflow-style: none;
    /*hidden scrollbar Firefox */
    scrollbar-width: none;
}

/*hidden scrollbar chrome */
.card-content::-webkit-scrollbar {
    display: none;
}

.card:hover .card-image img {
    opacity: 0;
}

.card:hover .card-content {
    opacity: 1;
}